<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');
.kp_angebot{background:#eee;font-family:Roboto;}
.kp_angebot_header{background:#0069b3;display:flex;width:100%;height:100px;align-items:flex-end}
.kp_angebot_header img{height:30px;align-self:flex-start;background:white}
.kp_angebot_title{color:white;font-size:25px;margin:5px}
.kp_placeholder{flex-grow:1;color:red}
.kp_paper{box-shadow:1px 1px 1px #ddd;background:white;margin:10px;}
.kp_block{padding:10px;display:flex}
.kp_block h3{padding:0;margin:0;margin-left:10px;color:#0069b3}
.kp_block h4{padding:0;margin:0;margin-left:10px;color:#838678;font-size:10px}
.kp_produkt_content{margin-left:10px;margin-top:10px}
.kp_produkt_content ul{list-style:none;font-size:14px;margin:0;padding:0}
.kp_produkt_content ul li{padding-left: 1em;text-indent: 0em;cursor:default;transition: all 0.3s;}
.kp_produkt_content ul li:hover{color:#0069b3}
.kp_produkt_content ul li:before{content:'▶ ';color:#ea7c13;transition: all 0.3s;}
.kp_produkt_content ul li:hover:before{content:'▶ ';color:#0069b3}
</style>
<div class="kp_angebot">
<div class="kp_angebot_header">
<div class="kp_placeholder"></div>
<img src="https://klimapartner.de/Bilder/Logo/logo_bg_gruen.svg"/>
</div>
<div class="kp_paper kp_block">
<img src="https://klimapartner.de/Bilder/23/2323//200/Caliplast1.jpg"/>
<div>
<h3><!-- Title goes here --></h3>
<h4><span>EAN:</span><!-- EAN goes here--></h4>
<div class="kp_produkt_content"><!-- the following list holds the most important properties of the product --><!-- NOTE: No more than 5 -->
<ul>
<li><!-- Eigenschaft 1 --></li>
<li><!-- Eigenschaft 2 --></li>
<li><!-- Eigenschaft 3 --></li>
<li><!-- Eigenschaft 4 --></li>
<li><!-- Eigenschaft 5 --></li>
</ul>
</div>
</div>
</div>
<div class="kp_paper kp_block">
Extrem strapazierfähiges, selbstklebendes Bodenmarkierungsband: Das spezielle Profil mit abgeschrägten Rändern sorgt für eine bestmögliche Haltbarkeit im allgemeinen Verkehr, z.B. Hubwagen-, Gabelstapler- und Reinigungsmaschinenverkehr. Zur Kennzeichnung von z.B. Abstellflächen, Fahrbahnen oder Sicherheitszonen. Geeignet für trockene Innenbereiche.
</div>
</div>
